h1{margin-bottom:10px;}

.resumecat {
	margin:15px 0 10px 0;
	padding:8px 7px;
	color:#000;
	background:#f0f0f0;
}

.content_scene_cat {
	padding:5px;
	border:1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 1px #e2e2e2;
	-webkit-box-shadow: 0 1px 1px #e2e2e2;
	box-shadow: 0 1px 1px #e2e2e2;
}

.cat_desc {
	font-size:12px;
	line-height:18px;
}
.cat_desc p {padding:0 10px 5px 10px}
.cat_desc .lnk_more {
   padding:0 10px;
   color:#0088CC;
	background:url(../img/arrow_right_1.png) no-repeat 100% 4px transparent;
}


/* ************************************************************************************************
      SUB CATEGORIES
************************************************************************************************ */
#subcategories {margin-top:15px}
#subcategories h3 {
	padding:14px 12px;
	font-size:13px;
	color:#fff;
	text-transform:uppercase;
	text-shadow:0 1px 0 #666;
	background:url(../img/bg_table_th.png) repeat-x 0 0 #999
}

.inline_list {
	list-style-type:none;
	margin-top:10px;
}
.inline_list  li {
	padding:10px 0;
	width:210px;
	height:150px;
	overflow:hidden;
	float:left;
	margin:10px 0px 10px 20px;
	text-align:center;
	border:1px solid #ccc
}
.inline_list  li:nth-child(4n+1) {
	clear:left;
	margin-left:0;
}
.inline_list  li:hover a {text-decoration:underline;} 
.inline_list  li a {
	display:inline-block;
	width:100%;
}
.inline_list  li .cat_name {
	font-weight:bold;
	font-size:13px
}

/* ************************************************************************************************
      HEADER SCENE
************************************************************************************************ */
#header + .content_scene_cat {
	clear:left;
	padding:0;
	border:0;
	box-shadow:none;
	-moz-border-radius: 0;
	-webkit-border-radius:0;
	border-radius:0;
	background: rgb(209,2,40); /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QxMDIyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGU3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

	background: -moz-linear-gradient(top,  rgba(209,2,40,1) 0%, rgba(253,231,231,1) 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,2,40,1)), color-stop(100%,rgba(253,231,231,1))); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  rgba(209,2,40,1) 0%,rgba(253,231,231,1) 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  rgba(209,2,40,1) 0%,rgba(253,231,231,1) 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  rgba(209,2,40,1) 0%,rgba(253,231,231,1) 100%); /* IE10+ */

	background: linear-gradient(to bottom,  rgba(209,2,40,1) 0%,rgba(253,231,231,1) 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d10228', endColorstr='#fde7e7',GradientType=0 ); /* IE6-8 */

	
}

.content_scene_cat .category_info_wrapper {
	position:relative;
	margin:0 auto;
	width:1140px;
	height:335px;
	
}

.content_scene_cat .category_info_wrapper .category_info {
	position:absolute;
	width:340px;
	bottom:85px;
	right:180px;
	
}
