#featured-products_block_center li {
	margin-right:10px;
	padding:10px 8px;
	width: 212px;
	margin: 10px 20px 10px 0px;
	height:420px;
	-moz-box-sizing: border-box;
	-weblit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
#featured-products_block_center li.last_item_of_line  { margin-right:0; }
#featured-products_block_center .s_title_block,  #featured-products_block_center h5 {
	padding-top:5px;
	height:30px;
	font-size:12px;
	color:#222;
	padding-bottom: 0;
	font-weight:bold;
}

#featured-products_block_center .product_image {
	display:block;
	position:relative;
	overflow:hidden
}
#featured-products_block_center .product_image span.new {
	display: block;
	position: absolute;
	top: 15px;
	right:-30px;
	padding: 1px 4px;
	width: 101px;
	font-size:10px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform:rotate(45deg);
	/*-ms-transform: rotate(45deg);*/
	background-color: #f58220;
	transform: rotate(45deg);  /* Newer browsers */
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
}

.ie9 #featured-products_block_center .product_image span.new{top:-18px;right:-38px}
.ie8 #featured-products_block_center .product_image span.new{top:-21px;right:-38px}
.lt-ie6 #featured-products_block_center .product_image span.new {top:-30px;right:-25px}

#featured-products_block_center .product_desc {height:45px;}
#featured-products_block_center .product_desc,
#featured-products_block_center .product_desc a {
	color:#666
}
#featured-products_block_center .price_container {
	padding:0;
	background-color: #f58220;
	line-height: 40px;
	text-align: right;
}
#featured-products_block_center .price {
	font-weight:bold;
	font-size: 34px;
	color:#fff;
}
#featured-products_block_center .old_price_container {
	padding:0;
	background-color: #ddd;
	line-height: 18px;
	text-align: right;
}
#featured-products_block_center .old_price_container.empty {min-height: 18px; background: none}
#featured-products_block_center .old_price_display { color: #cd0303; text-decoration: line-through; font-size: 14px; }
#featured-products_block_center li .ajax_add_to_cart_button {display:block;}
#featured-products_block_center li span.exclusive {display:block;}

#featured-products_block_center .s_title_block a { font-size: 16px; color: #d76f48; }

#featured-products_block_center .add_to_cart_container { 
	float: left;
	width: 117px;
	height: 40px;
	min-height: 40px;
	margin: 4px 3px 0px 0px;
	background:url(../../../img/add_to_cart.png) no-repeat left center #f5f5f5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #c0c0c0;
}
#featured-products_block_center .add_to_cart_container a.exclusive, #featured-products_block_center span.exclusive { padding: 0px; padding-left: 50px; border: 0px; background: none; color: #626262; font-size: 18px; line-height: 42px;}

#featured-products_block_center .add_to_cart_container a.exclusive:hover, #featured-products_block_center span.exclusive { color: #c0c0c0; }

#featured-products_block_center .lnk_more_container { 
	margin-top: 4px;
	float: left;
	width: 70px;
	height: 40px;
	min-height: 40px;
	border: 1px solid #c0c0c0;
	background-color: #f58220;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#featured-products_block_center .lnk_more_container:hover { background-color: #777;}
#featured-products_block_center .lnk_more_container:hover a, #featured-products_block_center .lnk_more_container a:hover {text-decoration: none}

#featured-products_block_center .lnk_more {
	display:inline;
	font-size:14px;
	color:#fff;
	line-height: 40px
}

#featured-products_block_center span.title_block { background: #fff; margin-left: -11px; padding: 2px 11px}

